:root {
  --color-primary: green;
  --color-secondary: #ddd;
  --color-danger: red;
  --color-danger-background: #faa;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: calibri, sans-serif;
}

body {
  background: #f6f6f6;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "one two three four"
    "one two three five"
    "six six six six";
  gap: 1rem;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "one one"
      "two three"
      "two three"
      "four five"
      "four five"
      "six six";
  }
}

.card {
  background: #fff;
  padding: 1rem;
  min-width: 300px;
}

.card.input {
  grid-area: one;
}

.card.wafer {
  grid-area: two;
}

.card.bull {
  grid-area: three;
}

.card.oos-x {
  grid-area: four;
}

.card.oos-y {
  grid-area: five;
}

.card.detail {
  grid-area: six;
}

.card div.input {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 0.5rem;
  align-items: center;
}

.card div.input label {
  font-size: 1.2rem;
  color: #fff;
  background: var(--color-primary);
  padding: 5px;
  border-radius: 0.2rem;
  text-align: center;
}

.card div.input input,
.card div.input select {
  width: 100%;
  font-size: 1.2rem;
  border: 2px solid var(--color-secondary);
  border-radius: 0.1rem;
  padding: 0 5px;
}

.card-small {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.svg-container-small svg {
  width: 100px;
  height: 100px;
}

.card div.input-small {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 5px;
}

.card div.input-small label {
  font-weight: 1000;
  margin: 2px 0;
  padding: 2px 0;
}

.card div.input-small input {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--color-secondary);
}

#input-file {
  display: none;
}

.svg-container {
  display: flex;
  justify-content: center;
}

.svg-container svg {
  width: 280px;
  height: 280px;
}

.card.detail .table-title {
  background: var(--color-secondary);
  padding: 5px 0;
}

.card.detail .row {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}

.card.detail .row.oos-x,
.card.detail .row.oos-y {
  background: var(--color-danger-background);
}
