:root {
  --color-primary: green;
  --color-secondary: #ddd;
  --color-danger: red;
  --color-danger-background: #faa;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: calibri, sans-serif;
}

body {
  background: #f6f6f6;
}

input, select {
  width: 100%;
  height: 1.5rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}

.container {
  margin: 1rem auto;
  width: 96vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "one one one"
    "two three four"
    "two three five"
    "six six six"
  ;
  gap: 1rem;
  justify-content: space-between;
}

.wrapper {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  text-align: center;
}

.wrapper.load {
  grid-area: one;
  text-align: left;
}

.wrapper.wafer-map {
  grid-area: two;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper.scatter-map {
  grid-area: three;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper.oos-x {
  grid-area: four;
}

.wrapper.oos-y {
  grid-area: five;
}

.wrapper.data {
  grid-area: six;
}

.intro-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.intro {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: var(--color-primary);
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  text-align: center;
  line-height: 3vw;
}

.wrapper.load input {
  display: none;
}

button {
  width: 100%;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 0.2rem;
  color: white;
  background: var(--color-primary);
  cursor: pointer;
}

.svg-container svg {
  width: 25vw;
  height: 25vw;
}

.svg-container-small {
  position: relative;
}

.svg-container-small svg {
  width: 10vw;
  height: 10vw;
}

.svg-container-small .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-container-small svg circle:nth-child(1) {
  stroke: var(--color-primary);
}

.svg-setting {
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.2rem;
}

.svg-setting > div {
  display: grid;
  grid-template-columns: 40% 60%;
}

.svg-setting > div > label {
  font-size: 1.1rem;
  font-weight: bold;
}

table {
  width: 100%;
}

table :where(thead, tbody) tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

table :where(thead, tbody) td {
  text-align: center;
}

td.oos {
  background: var(--color-danger-background);
}
